# pandas

### Partie 1

Installer et importer pandas et numpy et afficher leur versions

In [97]:
!pip3 install pandas
!pip3 install numpy
import pandas as pd
import numpy as np
import random
print("pandas version {}".format(pd.__version__))
print("numpy  version {}".format(np.__version__))

Requirement already satisfied: pandas in /Users/OMarega/Documents/IPSSI/M2/PythonVideoPoker/pythonVideoPokerNoteBook/venv/lib/python3.8/site-packages (1.1.4)
Requirement already satisfied: pytz>=2017.2 in /Users/OMarega/Documents/IPSSI/M2/PythonVideoPoker/pythonVideoPokerNoteBook/venv/lib/python3.8/site-packages (from pandas) (2020.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/OMarega/Documents/IPSSI/M2/PythonVideoPoker/pythonVideoPokerNoteBook/venv/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.15.4 in /Users/OMarega/Documents/IPSSI/M2/PythonVideoPoker/pythonVideoPokerNoteBook/venv/lib/python3.8/site-packages (from pandas) (1.19.3)
Requirement already satisfied: six>=1.5 in /Users/OMarega/Documents/IPSSI/M2/PythonVideoPoker/pythonVideoPokerNoteBook/venv/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: numpy in /Users/OMarega/Documents/IPSSI/M2/PythonVideoPoker/pythonVideoPokerNoteBook/venv/lib/python3.8/site-packages (1.19.3)
pandas version 1.1.4
numpy  version 1.19.3

Transformer ces variables en Pandas Series

In [2]:
liste = list(range(0, 17))
dictionary = {"A":  0, "B":1, "C":2, "D":3, "E":5}
liste_series = pd.Series(liste)
liste_series = pd.Series(item for item in liste)
liste_series
dictionary_series = pd.Series(dictionary)
dictionary_series

A    0
B    1
C    2
D    3
E    5
dtype: int64

 - Afficher la variable dictionnaire
 - Transformer le dictionnaire en dataframe

In [3]:
dictionaire = {x:np.random.randint(0,100,50) for x in "ABCDE"}
print(dictionaire)
df_dict=pd.DataFrame.from_dict(dictionaire)
df_dict

{'A': array([61, 39, 51, 77, 81, 89, 64, 88, 71, 95,  6,  8, 65,  2, 32, 59, 32,
       41, 48,  8, 97, 80, 68,  6, 70, 68, 57, 40,  0, 42, 39, 48, 74, 66,
       98, 53, 27, 83, 33, 78, 88, 99, 82, 68, 36, 52, 39, 34, 49, 20]), 'B': array([46, 21, 98, 71,  8,  2, 71,  7, 10, 71, 65, 60, 36,  3, 82, 10, 57,
        9, 12, 78, 72, 65, 18, 55, 49, 99, 89, 87,  9, 24, 10, 54, 17, 38,
       13, 47, 41, 68,  6,  3, 64, 98, 72, 27, 83, 76, 62, 63,  4, 16]), 'C': array([20, 90, 79, 41, 86, 95, 23, 91, 31, 58, 33, 74, 63, 91, 24, 88, 84,
       35, 82, 83, 33, 66,  3, 90, 67, 66, 91, 74, 16, 41, 28, 87, 90, 74,
       71, 94, 74, 43, 27, 39, 85, 48, 77, 27, 21, 55, 49, 31, 55,  9]), 'D': array([42, 52, 48, 25, 31, 10, 47, 47, 45, 93, 82, 31, 23, 41, 99, 82, 76,
       43, 41, 69, 87, 26, 14, 57, 86, 72, 80, 38,  2, 56, 88, 80, 74, 10,
       23, 18, 14, 36, 25,  7, 85, 76, 97, 27, 58, 80,  3, 68, 93, 77]), 'E': array([51, 82,  5, 10, 83, 96, 29,  7, 95, 78, 76, 74, 43, 80, 22, 16, 29,
       27, 84, 91, 53, 17, 60, 48, 54, 91, 96, 13,  4, 80, 33, 57, 32, 70,
       41, 35, 50, 97, 60, 85, 82, 74,  6, 16, 54, 18, 61, 17, 10, 71])}

     A   B   C   D   E
0   61  46  20  42  51
1   39  21  90  52  82
2   51  98  79  48   5
3   77  71  41  25  10
4   81   8  86  31  83
5   89   2  95  10  96
6   64  71  23  47  29
7   88   7  91  47   7
8   71  10  31  45  95
9   95  71  58  93  78
10   6  65  33  82  76
11   8  60  74  31  74
12  65  36  63  23  43
13   2   3  91  41  80
14  32  82  24  99  22
15  59  10  88  82  16
16  32  57  84  76  29
17  41   9  35  43  27
18  48  12  82  41  84
19   8  78  83  69  91
20  97  72  33  87  53
21  80  65  66  26  17
22  68  18   3  14  60
23   6  55  90  57  48
24  70  49  67  86  54
25  68  99  66  72  91
26  57  89  91  80  96
27  40  87  74  38  13
28   0   9  16   2   4
29  42  24  41  56  80
30  39  10  28  88  33
31  48  54  87  80  57
32  74  17  90  74  32
33  66  38  74  10  70
34  98  13  71  23  41
35  53  47  94  18  35
36  27  41  74  14  50
37  83  68  43  36  97
38  33   6  27  25  60
39  78   3  39   7  85
40  88  64  85  85  82
41  99  98  48  76  74
42  82  72  77  97   6
43  68  27  27  27  16
44  36  83  21  58  54
45  52  76  55  80  18
46  39  62  49   3  61
47  34  63  31  68  17
48  49   4  55  93  10
49  20  16   9  77  71

Trouver comment  afficher un descriptif de ce dataframe

In [4]:
df_dict.describe()

               A         B         C          D          E
count  50.000000  50.00000  50.00000  50.000000  50.000000
mean   54.220000  44.92000  58.04000  51.680000  51.260000
std    27.447382  30.99364  27.16913  28.785938  30.002592
min     0.000000   2.00000   3.00000   2.000000   4.000000
25%    36.750000  12.25000  33.00000  26.250000  23.250000
50%    55.000000  48.00000  64.50000  47.500000  53.500000
75%    76.250000  71.00000  83.75000  79.250000  79.500000
max    99.000000  99.00000  95.00000  99.000000  97.000000

Afficher le nombre de fois que chacune des valeurs apparait dans chaque colonne

In [22]:
duplicates = [ [i,df_dict[i].value_counts().sort_values()] for i in df_dict]
duplicates

[['A',
  89    1
  95    1
  49    1
  59    1
  57    1
  34    1
  27    1
  53    1
  52    1
  51    1
  33    1
  61    1
  42    1
  41    1
  40    1
  36    1
  99    1
  98    1
  70    1
  97    1
  64    1
  20    1
  71    1
  0     1
  65    1
  66    1
  77    1
  74    1
  80    1
  81    1
  2     1
  82    1
  83    1
  78    1
  48    2
  8     2
  88    2
  6     2
  32    2
  68    3
  39    3
  Name: A, dtype: int64],
 ['B',
  87    1
  62    1
  46    1
  60    1
  57    1
  55    1
  54    1
  76    1
  49    1
  47    1
  27    1
  64    1
  41    1
  4     1
  38    1
  18    1
  36    1
  99    1
  89    1
  17    1
  7     1
  68    1
  78    1
  21    1
  2     1
  82    1
  16    1
  83    1
  13    1
  12    1
  24    1
  8     1
  6     1
  63    1
  72    2
  9     2
  98    2
  3     2
  65    2
  71    3
  10    3
  Name: B, dtype: int64],
 ['C',
  20    1
  86    1
  63    1
  24    1
  87    1
  28    1
  94    1
  95    1
  88    1
  67    1
  39    1
  84    1
  43    1
  48    1
  49    1
  85    1
  21    1
  58    1
  35    1
  82    1
  16    1
  79    1
  77    1
  23    1
  9     1
  71    1
  3     1
  83    1
  31    2
  33    2
  66    2
  27    2
  55    2
  41    2
  90    3
  91    3
  74    4
  Name: C, dtype: int64],
 ['D',
  68    1
  27    1
  26    1
  74    1
  97    1
  99    1
  36    1
  18    1
  38    1
  42    1
  43    1
  45    1
  48    1
  52    1
  56    1
  57    1
  88    1
  3     1
  2     1
  69    1
  7     1
  72    1
  77    1
  85    1
  86    1
  87    1
  58    1
  82    2
  23    2
  93    2
  31    2
  25    2
  10    2
  76    2
  41    2
  14    2
  47    2
  80    3
  Name: D, dtype: int64],
 ['E',
  5     1
  22    1
  61    1
  71    1
  27    1
  95    1
  33    1
  32    1
  4     1
  97    1
  43    1
  48    1
  50    1
  51    1
  53    1
  6     1
  18    1
  41    1
  57    1
  35    1
  7     1
  76    1
  13    1
  78    1
  83    1
  84    1
  85    1
  70    1
  82    2
  60    2
  54    2
  96    2
  16    2
  74    2
  91    2
  80    2
  17    2
  10    2
  29    2
  Name: E, dtype: int64]]

A   B   C   D   E
99  98  48  76  74    1
59  10  88  82  16    1
97  72  33  87  53    1
95  71  58  93  78    1
89  2   95  10  96    1
88  64  85  85  82    1
    7   91  47  7     1
83  68  43  36  97    1
82  72  77  97  6     1
81  8   86  31  83    1
80  65  66  26  17    1
78  3   39  7   85    1
77  71  41  25  10    1
74  17  90  74  32    1
71  10  31  45  95    1
70  49  67  86  54    1
68  99  66  72  91    1
    27  27  27  16    1
    18  3   14  60    1
66  38  74  10  70    1
65  36  63  23  43    1
64  71  23  47  29    1
57  89  91  80  96    1
53  47  94  18  35    1
52  76  55  80  18    1
2   3   91  41  80    1
36  83  21  58  54    1
51  98  79  48  5     1
49  4   55  93  10    1
48  54  87  80  57    1
    12  82  41  84    1
42  24  41  56  80    1
41  9   35  43  27    1
40  87  74  38  13    1
39  62  49  3   61    1
    21  90  52  82    1
61  46  20  42  51    1
39  10  28  88  33    1
98  13  71  23  41    1
33  6   27  25  60    1
32  82  24  99  22    1
    57  84  76  29    1
27  41  74  14  50    1
20  16  9   77  71    1
8   78  83  69  91    1
    60  74  31  74    1
6   65  33  82  76    1
    55  90  57  48    1
34  63  31  68  17    1
0   9   16  2   4     1
dtype: int64

Afficher uniquement les valeurs surperieures à 30 de la colonne b

In [7]:
df_dict[df_dict.B > 30]

     A   B   C   D   E
0   61  46  20  42  51
2   51  98  79  48   5
3   77  71  41  25  10
6   64  71  23  47  29
9   95  71  58  93  78
10   6  65  33  82  76
11   8  60  74  31  74
12  65  36  63  23  43
14  32  82  24  99  22
16  32  57  84  76  29
19   8  78  83  69  91
20  97  72  33  87  53
21  80  65  66  26  17
23   6  55  90  57  48
24  70  49  67  86  54
25  68  99  66  72  91
26  57  89  91  80  96
27  40  87  74  38  13
31  48  54  87  80  57
33  66  38  74  10  70
35  53  47  94  18  35
36  27  41  74  14  50
37  83  68  43  36  97
40  88  64  85  85  82
41  99  98  48  76  74
42  82  72  77  97   6
44  36  83  21  58  54
45  52  76  55  80  18
46  39  62  49   3  61
47  34  63  31  68  17

Tranformer ces deux listes en series et nommez-les series1 et series2 :
 - Multipliez-les entre elle pour faire une troisième series
 - Combinez-les pour en faire un dataframe

In [80]:
liste1 = list(range(0, 14))
liste2 = list(range(10, 24))
#series1 = pd.Series(liste1, name="S1")
series1 = pd.Series(liste1)
series2 = pd.Series(liste2)
s3 = series1 * series2
df_fusion = pd.DataFrame({'liste1': series1.values , 'liste2': series2.values, 'liste3': s3.values})
df_fusion

    liste1  liste2  liste3
0        0      10       0
1        1      11      11
2        2      12      24
3        3      13      39
4        4      14      56
5        5      15      75
6        6      16      96
7        7      17     119
8        8      18     144
9        9      19     171
10      10      20     200
11      11      21     231
12      12      22     264
13      13      23     299

En partant des series1 et series2, faites 2 series qui comportent uniquement les valeurs:
   - presentes dans la series1 et non dans la series2
   - presentes dans la series2 et non dans la series1

In [89]:
series3 = [ item for item in series1 if series1.isin(series2)[item] == False ] 
series3

series4 = [ item for item in series2 if series2.isin(series1)[item-10] == False ] 
series4

series1[-series1.isin(series2)]
series2[-series2.isin(series1)]

4     14
5     15
6     16
7     17
8     18
9     19
10    20
11    21
12    22
13    23
dtype: int64

Faites de même avec la liste3 et la liste4

In [91]:
liste3 = ["de","bd","ng","us","fr","it"]
liste4 = ["fr","cv","ng","us","bs","it"]

liste3series = pd.Series(liste3)
liste4series = pd.Series(liste4)

In [92]:
series5 = [ item for index,item in enumerate(liste3series) if liste3series.isin(liste4series)[index] == False ] 
series5

series6 = [ item for index,item in enumerate(liste4series) if liste4series.isin(liste3series)[index] == False ] 
series6

['cv', 'bs']

### Partie 2

Importer la librairie os et creer une fonction avec en argument le path qui teste si le path existe

In [95]:
import os
path = "PATH/database.csv"
def is_exist(path):
    return os.path.isfile(path)

is_exist(path)

True

A l'aide des methodes propres à pandas faire un dataframe du csv contenu dans le path

In [99]:
file = pd.read_csv(path)
file

,Record ID,Agency Code,Agency Name,Agency Type,City,State,Year,Month,Incident,Crime Type,...,Victim Ethnicity,Perpetrator Sex,Perpetrator Age,Perpetrator Race,Perpetrator Ethnicity,Relationship,Weapon,Victim Count,Perpetrator Count,Record Source
0,1,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,January,1,Murder or Manslaughter,...,Unknown,Male,15,Native American/Alaska Native,Unknown,Acquaintance,Blunt Object,0,0,FBI
1,2,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
2,3,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,March,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,0,FBI
3,4,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,1,Murder or Manslaughter,...,Unknown,Male,42,White,Unknown,Acquaintance,Strangulation,0,0,FBI
4,5,AK00101,Anchorage,Municipal Police,Anchorage,Alaska,1980,April,2,Murder or Manslaughter,...,Unknown,Unknown,0,Unknown,Unknown,Unknown,Unknown,0,1,FBI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
638449,638450,WY01500,Park County,Sheriff,Park,Wyoming,2014,January,1,Murder or Manslaughter,...,Hispanic,Unknown,0,Unknown,Unknown,Unknown,Handgun,0,0,FBI
638450,638451,WY01700,Sheridan County,Sheriff,Sheridan,Wyoming,2014,June,1,Murder or Manslaughter,...,Unknown,Male,57,White,Unknown,Acquaintance,Handgun,0,0,FBI
638451,638452,WY01701,Sheridan,Municipal Police,Sheridan,Wyoming,2014,September,1,Murder or Manslaughter,...,Unknown,Female,22,Asian/Pacific Islander,Unknown,Daughter,Suffocation,0,0,FBI
638452,638453,WY01800,Sublette County,Sheriff,Sublette,Wyoming,2014,December,1,Murder or Manslaughter,...,Not Hispanic,Male,31,White,Not Hispanic,Stranger,Knife,0,1,FBI
638453,638454,WY01902,Rock Springs,Municipal Police,Sweetwater,Wyoming,2014,September,1,Murder or Manslaughter,...,Not Hispanic,Female,24,White,Not Hispanic,Daughter,Blunt Object,0,1,FBI

Afficher toutes les colones du dataframe

afficher le nombre de lignes du dataframe

- A l'aide des mask pandas filtrer le dataframe pour afficher voir:  
   - toutes les lignes avec plus d'une victime
   - toutes les lignes avec Perpetrator Sex egale a male
   - le nombre de crime apres les années 2000
   - tout les crime avec plus de 4 victimes commis au mois aout